{% extends "base.html.twig" %}

{% block title %}Spielorte{% endblock %}

{% block content %}
    <h4 class="pt-3">Spielorte</h4>

    {{ include('venue/_status_navigation.html.twig') }}

    <table class="table">
        <thead>
            <tr><th>Name</th><th>Verantwortliche Clowns</th><th>Gesperrte Clowns</th><th>Tageszeit</th></tr>
        </thead>
        <tbody>
    {% for venue in venues %}
        <tr>
            <td><a href="{{ path('venue_show', {id: venue.id}) }}">{{ venue.name }}</<a></td>
            <td>
                {% for clown in venue.responsibleClowns %}
                    {{ clown.name }}{% if not loop.last %} | {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for clown in venue.blockedClowns %}
                    {{ clown.name }}{% if not loop.last %} | {% endif %}
                {% endfor %}
            </td>
            <td>
                {{ venue.daytimeDefault|trans }}
            </td>
          </tr>
    {% endfor %}
        </tbody>
    </table>
    {% if currentClown.isAdmin %}
        {{ include('_shared/_create_link.html.twig', {
            url: path('venue_new'), 
            label: "Spielort anlegen"
        }) }}
    {% endif %}
{% endblock %}
