{% extends "base.html.twig" %}

{% block title %}Spielorte{% endblock %}

{% block content %}
    <h4 class="pt-3">Spielorte</h4>

    {{ include('venue/_status_navigation.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                {% if showResponsibleClowns %}<th>Verantwortliche Clowns</th>{% endif %}
                {% if showTeam %}<th>Clownsteam</th>{% endif %}
                {% if showBlockedClowns %}<th>Gesperrte Clowns</th>{% endif %}
                <th>Tageszeit</th>
            </tr>
        </thead>
        <tbody>
    {% for venue in venues %}
        <tr>
            <td>
                <a href="{{ path('venue_show', {id: venue.id}) }}">{{ venue.name }}</a>
                {% if venue.super %}
                    <i class="bi bi-hand-thumbs-up" title="Dies ist ein Super-Spielort"></i>
                {% endif %}
            </td>
            {% if showResponsibleClowns %}
                <td>
                    {% if venue.assignResponsibleClownAsFirstClown %}
                        {{ venue.responsibleClowns|map(clown => clown.name)|join(' | ')|default('---') }}
                    {% else %}
                        <i>deaktiviert</i>
                    {% endif %}
                </td>
            {% endif %}
            {% if showTeam %}
                <td>
                    {% if venue.teamActive %}
                        {{ venue.team|map(clown => clown.name)|join(' | ')|default('---') }}
                    {% else %}
                        <i>deaktiviert</i>
                    {% endif %}
                </td>
            {% endif %}
            {% if showBlockedClowns %}
                <td>
                    {{ venue.blockedClowns|map(clown => clown.name)|join(' | ')|default('---') }}
                </td>
            {% endif %}
            <td>
                {{ venue.daytimeDefault|trans }}
            </td>
          </tr>
    {% endfor %}
        </tbody>
    </table>
    {% if currentClown.isAdmin %}
        {{ include('_shared/_create_link.html.twig', {
            url: path('venue_new'), 
            label: "Spielort anlegen"
        }) }}
    {% endif %}
{% endblock %}
