{% extends "base.html.twig" %}

{% block title %}Spielorte{% endblock %}

{% block content %}
    <h4 class="pt-3">
        {{ venue.name }}
        {% if currentClown.isAdmin %}
            <a href="{{ path('venue_edit', {id: venue.id}) }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
            </a>
        {% endif %}
    </h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Adresse</th>
                <td>
                     {{ venue.streetAndNumber }}, {{ venue.postalCode }} {{ venue.city }}
                </td>
            </tr>
            <tr>
                <th>Ansprechperson</th>
                <td>
                    {{ venue.contactPerson }}
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    {{ venue.contactEmail }}
                </td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>
                    {{ venue.contactPhone }}
                </td>
            </tr>
            <tr>
                <th>Verantwortliche Clowns</th>
                <td>
                    {{ venue.responsibleClowns|map(clown => clown.name)|join(' | ') }}
                </td>
            </tr>
            <tr>
                <th>Standard Tageszeit für Spieltermine</th>
                <td>
                    {{ venue.daytimeDefault|trans }}
                </td>
            </tr>
            <tr>
                <th>Treffen</th>
                <td>
                    {{ venue.meetingTime|date('H:i') }}
                </td>
            </tr>
            <tr>
                <th>Spielzeit</th>
                <td>
                    {{ venue.playTimeFrom|date('H:i') }} - {{ venue.playTimeTo|date('H:i') }}
                </td>
            </tr>
            <tr>
                <th>Honorar Öffis</th>
                <td>
                    {{ venue.feeByPublicTransport|format_currency('EUR') }}
                </td>
            </tr>
            <tr>
                <th>Honorar PKW</th>
                <td>
                    {{ venue.feeByCar|format_currency('EUR') }}
                </td>
            </tr>
            <tr>
                <th>Kilometergeld</th>
                <td>
                    {% if venue.kilometers  %}
                        {{ venue.feePerKilometer|format_currency('EUR') }} x {{ venue.kilometers }} km = {{ venue.kilometersFee|format_currency('EUR') }} ({{ venue.kilometersFeeForAllClowns ? 'pro Clown' : 'für nur einen Clown' }})
                    {% else %}
                        --
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Bemerkungen</th>
                <td>
                    {{ venue.comments|nl2br }}
                </td>
            </tr>
            {% if venue.isSuper %}
                <tr>
                    <td colspan="2">ist ein Super-Spielort!</td>
                </tr>
            {% endif %}
            <tr>
                <th>Link mit weiteren Infos</th>
                <td>
                     <a target="_blank" href="{{ venue.url }}">{{ venue.url }}</href>
                </td>
            </tr>
        </tbody>
    </table>
    
    <h5>Spieltermine</h5>
    <ul>
    {% for playDate in venue.playDates %}
        <li>
            {{ playDate.date|date("d.m.Y") }} 
            {% if currentClown.isAdmin %}
                <a href="{{ path('play_date_edit', {id: playDate.id, venue_id: venue.id}) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg>
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if currentClown.isAdmin %}
        <a class="pt-4" href="{{ path('play_date_new', {venue_id: venue.id}) }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Spieltermin anlegen
        </a>
    {% endif %}    
{% endblock %}
