{% extends "venue/base.html.twig" %}

{% block innercontent %}
    {{ include('venue/_details_navigation.html.twig', {venue: venue, show: 'details'}) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Offizieller Name</th>
                <td>{{ venue.officialName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>
                     {{ venue.streetAndNumber }}, {{ venue.postalCode }} {{ venue.city }}
                </td>
            </tr>
            {% if showResponsibleClowns %}
                <tr title="Bei der Spielplanerstellung wird versucht als ersten Clown einen verantwortlichen Clown zuzuordnen">
                    <th>Verantwortliche Clowns</th>
                    <td>
                        {{ venue.responsibleClowns|map(clown => clown.name)|join(' | ') }}
                    </td>
                </tr>
            {% endif %}
            {% if showBlockedClowns %}
                <tr title="Bei der Spielplanerstellung wird ein gesperrter Clown niemals diesem Spielort zugeordnet">
                    <th>Gesperrte Clowns</th>
                    <td>
                        {{ venue.blockedClowns|map(clown => clown.name)|join(' | ') }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Standard Tageszeit für Spieltermine</th>
                <td>
                    {{ venue.daytimeDefault|trans }}
                </td>
            </tr>
            <tr>
                <th>Treffen</th>
                <td>
                    {{ venue.meetingTime|date('H:i') }}
                </td>
            </tr>
            <tr>
                <th>Spielzeit</th>
                <td>
                    {{ venue.playTimeFrom|date('H:i') }} - {{ venue.playTimeTo|date('H:i') }}
                </td>
            </tr>
            <tr>
                <th>Bemerkungen</th>
                <td>
                    {{ venue.comments|nl2br }}
                </td>
            </tr>
            {% if venue.isSuper %}
                <tr>
                    <td colspan="2">ist ein Super-Spielort!</td>
                </tr>
            {% endif %}
            <tr>
                <th>Link mit weiteren Infos</th>
                <td>
                     <a target="_blank" href="{{ venue.url }}">{{ venue.url }}</href>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
