<!-- delete link triggers modal -->
<a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ type.value }}" title="Kalender-Abonnement löschen"><i class="bi bi-trash"></i></a>

<div class="modal fade" id="deleteModal{{ type.value }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">{{ type.label }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Das Kalender-Abonnement wird hiermit beendet. Du kannst jederzeit einen neuen Link erzeugen. Dieser wird sich von diesem jedoch unterscheiden.</p>
      </div>
      <div class="modal-footer">
        <form method="post" action="{{ path('calendar_delete_subscription', {uuid: calendar.uuid}) }}">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="_method" value="DELETE">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            <button type="submit" class="btn btn-primary">Kalender-Abonnement-Link jetzt löschen</button>
        </form>
      </div>
    </div>
  </div>
</div>
