{% extends "base.html.twig" %}

{% block title %}Clowns{% endblock %}

{% block content %}
    {{ component('schedule_navigation', { active: 'calendar_export' }) }}

    <h5 class="pt-3">Kalender Download {{ month.label }}</h5>
    <p>
        Hier kannst Du Dir einen Ical Kalender(*.ics)  mit den Spielterminen herunterladen.
        Diese Datei kannst Du in eine Kalender-App z.B. auf dem Handy importieren.
    </p>
    {{ component('month_navigation', { active: month.key, urlKey: 'calendar_export' }) }}
    <ul class="list-group">
        {% for type in types %}
        <li class="list-group-item">
            <form action="{{ path('calendar_download') }}">
                <input type="hidden" name="type" value="{{ type.value }}">
                {{ type.label }}<br />
                <button class="btn btn-link" type="submit">Jetzt herunterladen</a>
            </form>
        </li>
        {% endfor %}
    </ul>

    <h5 class="pt-3">Kalender Abonnement</h5>
    <p>
        Hier kannst Du Dir Webcal-Kalender-Links erstellen, die Du in einer Kalender-App abonnieren kannst.
    </p>
    <ul class="list-group">
        {% for type in types %}
        <li class="list-group-item">
            {{ type.label }}:<br />
            {% if currentClown.getCalendar(type) %}
                <span class="fw-lighter"><i class="bi bi-exclamation-triangle"></i> <i>Achtung: Der Link ist öffentlich. Bitte nicht weitergeben!</i><br /><br /></span>
                {% set url=url('calendar_download_for_subscription', {uuid: currentClown.getCalendar(type).uuid}) %}
                <span class="subscription-url">{{ url }}</span>
                <a href="#" 
                   onClick="navigator.clipboard.writeText('{{ url }}');" 
                   title="in Zwischenablage kopieren"
                ><i class="bi bi-copy copy-{{ type.value }}"></i></a>
                {{ include('calendar/_delete_link.html.twig', {calendar: currentClown.getCalendar(type), type: type, token: token}) }}
            {% else %}
                <span class="fw-lighter"><i>kein Link angelegt</i></span>
                <form method="post" action="{{ path('calendar_create_subscription') }}">
                    <input type="hidden" name="type" value="{{ type.value }}" />
                    <input type="hidden" name="token" value="{{ token }}">
                    <button type="submit" class="btn btn-link">Kalender-Abonnement-Link erzeugen</button>
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}
