{% extends "base.html.twig" %}

{% block title %}Clowns{% endblock %}

{% block content %}
    <h4 class="pt-3">Ical Kalender Export {{ month.label }}</h4>
    
    {{ component('schedule_navigation', { active: 'calendar_export' }) }}
    {{ component('month_navigation', { active: month.key, urlKey: 'calendar_export' }) }}
    <p>
        Hier kannst Du Dir einen Ical Kalender(*.ics)  mit den Spielterminen herunterladen.
        Diese Datei kannst Du in eine Kalender-App z.B. auf dem Handy importieren.
    </p>

    <form method="get" action="{{ path('calendar_download') }}">
        <select name="type" class="form-select mb-3" style="width: auto;">
            <option value="personal">Persönlicher Kalender (eigene Spieltermine und Springer)</option>
            <option value="all">Vollständiger Kalender</option>
        </select>
        <button type="submit" class="btn btn-primary">ICS Kalender herunterladen</button>
    </form>

    <h5 class="pt-3">Kalender synchronisieren</h5>
    <p>
        Hier kannst Du Dir Kalender-Links erstellen, die Du in einer Kalender-App abonnieren kannst.
    </p>
    {% if currentClown.calendars.count < 2 %}
    <form method="post" action="{{ path('calendar_create_link') }}">
        <select name="type" class="form-select mb-3" style="width: auto;">
            {% if not currentClown.personalCalendar %}<option value="personal">Persönlicher Kalender (eigene Spieltermine und Springer)</option>{% endif %}
            {% if not currentClown.fullCalendar %}<option value="all">Vollständiger Kalender</option>{% endif %}
        </select>
        <button type="submit" class="btn btn-primary">Kalender Link erzeugen</button>
    </form>
    {% endif %}

    {% for calendar in currentClown.calendars %}
        Achtung: Der Link ist öffentlich. Bitte gib den Link nicht weiter!<br />
        {{ calendar.personal ? 'Persönlicher Kalendar' : 'Vollständiger Kalendar' }}: {{ url('calendar_download_for_subscription', {uuid: calendar.uuid}) }}
    {% endfor %}
{% endblock %}
