<p>
    Liebe:r {{ clown.name }}<br />
</p>

<p>
    ich wollte Dir nur mitteilen, dass {{ oldPartner.name }} und {{ newPartner.name }} getauscht haben.
</p>

<p>
    Es geht um {{ playDate.date|date('d.m.Y') }} {{ playDate.name }}.
</p>

<p>
    Du spielst dort jetzt mit {{ newPartner.name }}, statt mit {{ oldPartner.name }}. Jetzt weißte Bescheid.
</p>

<p>
    Viel Spaß!
    <br />
    Deine Dich liebende Spielplan App
</p>
