<p>
    Yippieh {{ clown.name }}!<br />
</p>

<p>
    {% if oldPartner %}
        ich wollte Dir nur mitteilen, dass {{ oldPartner.name }} und {{ newPartner.name }} getauscht haben.
    {% else %}
        Gute Neuigkeiten! Du spielst mit {{ newPartner.name }}.
    {% endif %}
</p>

<p>
    Es geht um {{ playDate.date|date('d.m.Y') }} {{ playDate.name }}.
</p>

<p>
    Du spielst dort jetzt mit {{ newPartner.name }}, statt mit {{ oldPartner ? oldPartner.name : 'niemandem' }}. 
    Jetzt weißte Bescheid.
</p>

<p>
    Viel Spaß!
    <br />
    Deine Dich liebende Spielplan App
</p>
