<p>
    Hallo {{ swapRequest.requestedTo.name }},<br />
</p>

<p>
    {{ swapRequest.requestedBy.name }} möchte gerne einen Spieltermin mit Dir tauschen. Und zwar:
</p>

<p>
    {{ swapRequest.playDateToGiveOff.date|date('d.m.Y') }} {{ swapRequest.playDateToGiveOff.name }}<br />
    gegen:<br />
    {{ swapRequest.playDateWanted.date|date('d.m.Y') }} {{ swapRequest.playDateWanted.name }}<br />
</p>

{% if personalComment is not empty %}
    <p>
        Persönliche Nachricht von {{ swapRequest.requestedBy.name }}:
    </p>
    <p>
        <i>{{ personalComment|nl2br }}</i>
    </p>
{% endif %}

<p>
    Gute Idee? Bitte beantworte die Tauschanfrage möglichst zeitnah, damit {{ swapRequest.requestedBy.name }} weiter planen kann.
     Du kannst die
    <a href="{{ url('play_date_show', {id: swapRequest.playDateWanted.id }) }}">Tauschanfrage hier annehmen oder ablehnen</a>.<br />
</p>

<p>
    <br />
    Deine Dich liebende Spielplan App
</p>
