{% extends "partials/_schedule_base.html.twig" %}

{% block am %}
    {% for playDate in day.entries('am', 'playDates') %}
        {{ component('show_play_date', {playDate: playDate, month: month}) }}
    {% else %}
        <span class="text-muted opacity-25">vormittags</span>
    {% endfor %}
    {% if day.entries('am', 'playDates')|filter(playDate => not playDate.isSpecial) is not empty  %}
        {{ component('show_substitution_clown', { date: day.date, daytime: 'am', month: month }) }}
    {% endif %}
    <div class="collapse available_clowns">
        {{ component('show_available_clowns', { date: day.date, daytime: 'am' }) }}
    </div>
{% endblock %}

{% block pm %}
    {% for playDate in day.entries('pm', 'playDates') %}
        {{ component('show_play_date', {playDate: playDate, month: month}) }}
    {% else %}
        <span class="text-muted opacity-25">nachmittags</span>
    {% endfor %}
    {% if day.entries('pm', 'playDates')|filter(playDate => not playDate.isSpecial) is not empty  %}
            {{ component('show_substitution_clown', { date: day.date, daytime: 'pm', month: month }) }}
    {% endif %}
    <div class="collapse available_clowns">
        {{ component('show_available_clowns', { date: day.date, daytime: 'pm' }) }}
    </div>
{% endblock %}
