{% extends "base.html.twig" %}

{% block title %}Spielplan{% endblock %}

{% block content %}
    <h4 class="pt-3">
        Spielplan {{ include('schedule/_schedule_title.html.twig', {schedule: schedule}) }}
    </h4>
    
    {{ component('schedule_navigation', { active: 'calculate' }) }}
    {{ component('month_navigation', { active: month.key, urlKey: 'calculate' }) }}
    
    <div class="pt-3">
        {% if schedule.completed %}
            <h5>Spielplan ist bereits abgeschlossen</h5>
        {% else %}
            <h5>Spielplan {{ schedule.inProgress ? 'neu' }} berechnen</h5>
            <p>Die Spieltermine werden automatisch zugeordnet.<br />
                Einfache Berechnung: Geht ganz schnell. Findet nicht immer die beste Lösung.<br />
                Komplexe Berechnung (Experimentell): Berechnet viele Lösungen und wählt die beste für Euch aus. Das kann bis zu 90 Sekunden dauern.
            </p>
            {{ form(calculateForm) }}

            <h5>Spielplanerstellung abschliessen</h5>
            <p>Diese Aktion kann nicht rückgängig gemacht werden. Die Spieltermine können weiterhin bearbeitet werden.<br />
                Erst wenn der Spielplan abgeschlossen ist, werden die Zuordnungen für die Clowns sichtbar.
            </p>
            {{ form(completeForm) }}
        {% endif %}
    </div>
    <div class="pt-3">
        {{ include('_shared/_create_link.html.twig', {url: path('play_date_new'), label: "Spieltermin anlegen"}) }}
    </div>

    <div>
        {{ include('_shared/_create_link.html.twig', {
            url: path('play_date_new', {type: enum('App\\Value\\PlayDateType').SPECIAL.value}), 
            label: "Zusatztermin anlegen"
        }) }}
    </div>

    <div>
        {{ include('_shared/_create_link.html.twig', {
            url: path('play_date_new', {type: enum('App\\Value\\PlayDateType').TRAINING.value}), 
            label: "Trainingstermin anlegen"
        }) }}
    </div>
{% endblock %}
