{% extends "base.html.twig" %}

{% block title %}Spieltermine{% endblock %}

{% block content %}
    {{ component('month_navigation', { active: month.key, urlKey: 'schedule' }) }}
    <h4 class="pt-3">Spielplan {{ month.label }}</h4>

    
    <form>
        <div class="form-check form-check-inline">
            <input {{ showAvailabilities ? 'checked="checked"' : '' }} class="form-check-input" type="checkbox" name="showAvailabilities" id="show_availabilities" value="yes">
            <label class="form-check-label" for="show_availabilities">Noch verfügbare Clowns</label>
        </div>
        <button type="submit" class="btn btn-secondary">zeigen!</button>
    </form>
    
    <div class="container pt-1">
        {% for day in schedule.days %}
            <div class="row">
                {{ include ('partials/schedule_day_number_and_name.html.twig', {day: day}, with_context = false) }}
                
                <div class="col-sm-5 border">
                    {% for playDate in day.entries('am') %}
                        {{ include ('play_date/show_in_schedule.html.twig', {playDate: playDate}) }}
                    {% else %}
                       <span class="text-muted">vormittags</span>
                    {% endfor %}
                    {% if day.entries('am') is not empty  %}
                        {{ component('show_substitution_clown', { date: day.date, daytime: 'am' }) }}
                    {% endif %}
                    {% if showAvailabilities %}
                        {{ component('show_available_clowns', { date: day.date, daytime: 'am' }) }}
                    {% endif %}
                </div>
                <div class="col-sm-5 border">
                    {% for playDate in day.entries('pm') %}
                        {{ include ('play_date/show_in_schedule.html.twig', {playDate: playDate}) }}
                    {% else %}
                       <span class="text-muted">nachmittags</span>
                    {% endfor %}
                    {% if day.entries('pm') is not empty  %}
                         {{ component('show_substitution_clown', { date: day.date, daytime: 'pm' }) }}
                    {% endif %}
                    {% if showAvailabilities %}
                        {{ component('show_available_clowns', { date: day.date, daytime: 'pm' }) }}
                    {% endif %}
                </div>
            </div>
            
        {% endfor %}
    </div>
    {% if currentClown.isAdmin %}
        <div class="pt-3">
            {{ form(form) }}
        </div>
        <div class="pt-3">
            <a href="{{ path('play_date_new') }}">Spieltermin anlegen</a>
        </div>
    {% endif %}
{% endblock %}
