{% extends "base.html.twig" %}

{% block title %}Spieltermine{% endblock %}

{% block content %}
    {{ component('month_navigation', { active: month.key, urlKey: 'schedule' }) }}
    <h4 class="pt-3">
        Spielplan {{ include('schedule/_schedule_title.html.twig', {schedule: schedule}) }}
    </h4>

    <button type="button" class="btn btn-link mb-3 collapse show available_clowns" data-bs-target=".available_clowns" data-bs-toggle="collapse">Verfügbare Clowns anzeigen</button>
    <button type="button" class="btn btn-link mb-3 collapse available_clowns" data-bs-target=".available_clowns" data-bs-toggle="collapse">Verfügbare Clowns verstecken</button>

    <div class="container pt-1">
        {{ include('schedule/_play_dates_schedule.html.twig') }}
    </div>
    {% if currentClown.isAdmin %}
        <div class="pt-3">
            {{ form(calculateForm) }}
            {{ form(completeForm) }}
        </div>
        <div class="pt-3">
            {{ include('_shared/_create_link.html.twig', {url: path('play_date_new'), label: "Spieltermin anlegen"}) }}
        </div>

        <div>
            {{ include('_shared/_create_link.html.twig', {
                url: path('play_date_new', {type: enum('App\\Value\\PlayDateType').SPECIAL.value}), 
                label: "Zusatztermin anlegen"
            }) }}
        </div>

        <div>
            {{ include('_shared/_create_link.html.twig', {
                url: path('play_date_new', {type: enum('App\\Value\\PlayDateType').TRAINING.value}), 
                label: "Trainingstermin anlegen"
            }) }}
        </div>


        <div class="pt-3">
            <a href="{{ path('play_date_index') }}">
                Tabellarische Übersicht aller Spieltermine
            </a>
        </div>

    {% endif %}
{% endblock %}
