{% extends "base.html.twig" %}

{% block title %}Spieltermine{% endblock %}

{% block content %}
    {{ component('month_navigation', { active: month.key, urlKey: 'schedule' }) }}
    <h4 class="pt-3">
        Spielplan {{ include('schedule/_schedule_title.html.twig', {schedule: schedule}) }}
    </h4>

    <button type="button" class="btn btn-link mb-3 collapse show available_clowns" data-bs-target=".available_clowns" data-bs-toggle="collapse">Verfügbare Clowns anzeigen</button>
    <button type="button" class="btn btn-link mb-3 collapse available_clowns" data-bs-target=".available_clowns" data-bs-toggle="collapse">Verfügbare Clowns verstecken</button>

    <div class="container pt-1">
        {{ include('schedule/_play_dates_schedule.html.twig') }}
    </div>
    {% if currentClown.isAdmin %}
        <div class="pt-3">
            {{ form(calculateForm) }}
            {{ form(completeForm) }}
        </div>
        <div class="pt-3">
            <a href="{{ path('play_date_new') }}" title="Spieltermin anlegen">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Spieltermin anlegen
            </a>
        </div>

        <div>
            <a href="{{ path('play_date_new', {type: enum('App\\Value\\PlayDateType').SPECIAL.value}) }}" title="Zusatztermin anlegen">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Zusatztermin anlegen
            </a>
        </div>

        <div>
            <a href="{{ path('play_date_new', {type: enum('App\\Value\\PlayDateType').TRAINING.value}) }}" title="Trainingstermin anlegen">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Trainingstermin anlegen
            </a>
        </div>


        <div class="pt-3">
            <a href="{{ path('play_date_index') }}">
                Tabellarische Übersicht aller Spieltermine
            </a>
        </div>

    {% endif %}
{% endblock %}
