{% extends "base.html.twig" %}

{% block title %}Spieltermine{% endblock %}

{% block content %}
    {{ component('month_navigation', { active: month.key, urlKey: 'schedule' }) }}
    <h4 class="pt-3">Spielplan {{ month.label }}</h4>

    <div class="container">
        {% for day in schedule.days %}
            <div class="row">
                {{ include ('partials/schedule_day_number_and_name.html.twig', {day: day}, with_context = false) }}
                
                <div class="col-sm-5 border">
                    {% for playDate in day.entries('am') %}
                        {{ include ('play_date/show_in_schedule.html.twig', {playDate: playDate}, with_context = false) }}
                    {% else %}
                       <span class="text-muted">vormittags</span>
                    {% endfor %}
                </div>
                <div class="col-sm-5 border">
                    {% for playDate in day.entries('pm') %}
                        {{ include ('play_date/show_in_schedule.html.twig', {playDate: playDate}, with_context = false) }}
                    {% else %}
                       <span class="text-muted">nachmittags</span>
                    {% endfor %}
                </div>
            </div>
            
        {% endfor %}
    </div>
    <div class="pt-3">
        {{ form(form) }}
    </div>
    <div class="pt-3">
        <a href="{{ path('play_date_new') }}">Spieltermin anlegen</a>
    </div>
{% endblock %}
