{% extends "base.html.twig" %}

{% block title %}Spielplan{% endblock %}

{% block content %}
    <h4 class="pt-3">
        Spielplan {{ include('schedule/_schedule_title.html.twig', {schedule: schedule}) }}
    </h4>

    {% if featureCalculationActive and currentClown.isAdmin and not schedule.completed %}
        {{ include ('schedule/_calculate.html.twig', {form: calculateForm}) }}
    {% endif %}
    {% if featureCalculationActive and currentClown.isAdmin and schedule.inProgress %}
        {{ include ('schedule/_complete.html.twig', {form: completeForm}) }}
    {% endif %}

    {{ component('schedule_navigation', { active: 'schedule' }) }}
    {{ component('month_navigation', { active: month.key, urlKey: 'schedule' }) }}
    
    {% if featureCalculationActive %}
        <button type="button" class="btn btn-link collapse show available_clowns" data-bs-target=".available_clowns" data-bs-toggle="collapse">Verfügbare Clowns anzeigen</button>
        <button type="button" class="btn btn-link collapse available_clowns" data-bs-target=".available_clowns" data-bs-toggle="collapse">Verfügbare Clowns verstecken</button>
    {% endif %}


    <div class="container pt-3">
        {{ include('schedule/_play_dates_schedule.html.twig') }}
    </div>
    {% if currentClown.isAdmin %}
        <div class="pt-3">
            {{ include('_shared/_create_link.html.twig', {url: path('play_date_new'), label: "Spieltermin anlegen"}) }}
        </div>

        <div>
            {{ include('_shared/_create_link.html.twig', {
                url: path('play_date_new', {type: enum('App\\Value\\PlayDateType').SPECIAL.value}), 
                label: "Zusatztermin anlegen"
            }) }}
        </div>

        <div>
            {{ include('_shared/_create_link.html.twig', {
                url: path('play_date_new', {type: enum('App\\Value\\PlayDateType').TRAINING.value}), 
                label: "Trainingstermin anlegen"
            }) }}
        </div>
    {% endif %}
{% endblock %}
