{% extends "base.html.twig" %}

{% block title %}Spieltermine{% endblock %}

{% block content %}
    {{ component('month_navigation', { active: month.key, urlKey: 'schedule' }) }}
    <h4 class="pt-3">Spielplan {{ month.label }}</h4>

    <button type="button" class="btn btn-info mb-3 collapse show available_clowns" data-bs-target=".available_clowns" data-bs-toggle="collapse">Verfügbare Clowns anzeigen</button>
    <button type="button" class="btn btn-info mb-3 collapse available_clowns" data-bs-target=".available_clowns" data-bs-toggle="collapse">Verfügbare Clowns verstecken</button>

    <div class="container pt-1">
        {% for day in schedule.days %}
            <div class="row">
                {{ include ('partials/schedule_day_number_and_name.html.twig', {day: day}, with_context = false) }}
                
                <div class="col-sm-5 border">
                    {% for playDate in day.entries('am', 'playDates') %}
                        {{ include ('play_date/show_in_schedule.html.twig', {playDate: playDate}) }}
                    {% else %}
                       <span class="text-muted">vormittags</span>
                    {% endfor %}
                    {% if day.entries('am', 'playDates')|filter(playDate => not playDate.isSpecial) is not empty  %}
                        {{ component('show_substitution_clown', { date: day.date, daytime: 'am' }) }}
                    {% endif %}
                    <div class="collapse available_clowns">
                        {{ component('show_available_clowns', { date: day.date, daytime: 'am' }) }}
                    </div>
                </div>
                <div class="col-sm-5 border">
                    {% for playDate in day.entries('pm', 'playDates') %}
                        {{ include ('play_date/show_in_schedule.html.twig', {playDate: playDate}) }}
                    {% else %}
                       <span class="text-muted">nachmittags</span>
                    {% endfor %}
                    {% if day.entries('pm', 'playDates')|filter(playDate => not playDate.isSpecial) is not empty  %}
                         {{ component('show_substitution_clown', { date: day.date, daytime: 'pm' }) }}
                    {% endif %}
                    <div class="collapse available_clowns">
                        {{ component('show_available_clowns', { date: day.date, daytime: 'pm' }) }}
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
    {% if currentClown.isAdmin %}
        <div class="pt-3">
            {{ form(form) }}
        </div>
        <div class="pt-3">
            <a href="{{ path('play_date_new') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Spieltermin anlegen
            </a>
        </div>

        <div class="">
            <a href="{{ path('play_date_new', {isSpecial: 1}) }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Sondertermin anlegen
            </a>
        </div>

    {% endif %}
{% endblock %}
