{% if rating is not null %}
    <div>
        Rating ({{ name }}): {{ rating.total }} 
        <a class="text-dark" data-bs-toggle="collapse" href="#{{ id }}" role="button" aria-expanded="false" aria-controls="{{ id }}">
            <i class="bi bi-arrows-collapse"></i>
        </a>
    </div>
    <div class="container collapse" id="{{ id }}">
        <div class="row">
            <div class="col-sm-6">
                Clown fehlt: {{ rating.missingPerson }}
            </div>
            <div class="col-sm-6">
                Clown kann nur wenns sein muss: {{ rating.maybePerson }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Ziel verfehlt: {{ rating.targetShifts }}
            </div>
            <div class="col-sm-6">
                {% if showMaxPerWeek %}
                    max Anzahl pro Woche überschritten: {{ rating.maxPerWeek }}
                {% endif %}    
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Spielortpräferenzen: {{ rating.locationPreferences }}
            </div>
            <div class="col-sm-6"> 
            </div>
        </div>
    </div>
{% endif %}
