{% extends "base.html.twig" %}

{% block title %}Statistiken{% endblock %}

{% block content %}
    {{ component('statistics_navigation', { active: showYears ? 'per_year' : 'infinity'}) }}
    {% if showYears %}
        {{ include('statistics/_year_navigation.html.twig', {activeYear: activeYear, years: years, currentType: type}) }}
        <h4 class="pt-3">Statistik für {{ activeYear }}</h4>
    {% else %}
        <h4 class="pt-3">Ewige Statistik</h4>
    {% endif %}

    {{ component('statistics_for_clowns_dropdown', { currentType: type, path: showYears ? path('statistics_per_year', {year: activeYear}) : path('statistics_infinity') }) }}
    <table class="table">
        <thead>
            <tr>
                <th>Clown</th>
                <th>{{ type.label }}</th>
                <th>{{ type.labelNumerator }}</th>
                <th>Anteil</th>
            </tr>
        </thead>
        <tbody>
            {% for clownWithCounts in clownsWithCounts %}
            <tr>
                <td>{{ clownWithCounts.clown.name }}</td>
                <td>
                    {{ clownWithCounts.denominator }}
                </td>
                <td>
                    {{ clownWithCounts.numerator }}
                </td>
                <td>
                    {% if clownWithCounts.denominator > 0 %}
                        {{ (clownWithCounts.numerator / clownWithCounts.denominator * 100)|round }} %
                    {% else %}
                        --
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            <tr>
                <th>Summe</th>
                <th>
                    {% set totalDenominator = clownsWithCounts|reduce((carry, v) => carry+v.denominator) %}
                    {{ totalDenominator }}
                </th>
                <th>
                    {% set totalNumerator = clownsWithCounts|reduce((carry, v) => carry+v.numerator) %}
                    {{ totalNumerator }}
                </th>
                <th>
                    {% if totalDenominator > 0 %}
                        {{ (totalNumerator / totalDenominator * 100)|round }} %
                    {% else %}
                        --
                    {% endif %}
                </th>
            </tr>
        </tbody>
    </table>
{% endblock %}
