{% extends "base.html.twig" %}

{% block title %}Statistiken{% endblock %}

{% block content %}
    {{ component('month_navigation', { active: month.key, urlKey: 'statistics' }) }}
    <h4 class="pt-3">Statistiken für {{ month.label }}</h4>

    <div>Spieltermine (aktuell): {{ currentPlayDatesCount }}</div>
    
    <table class="table">
        <thead>
            <tr>
                <th colspan="1"></th>
                <th colspan="4">Bedingungen</th>
                <th colspan="4" title="Das hat die App berechnet">berechnet</th>
                <th colspan="2" title="Das war der Stand bei Fertigstellung des Spielplans">zugeteilt</th>
                <th colspan="2" title="So isses jetzt">aktuell</th>
            </tr>
            <tr>
                <th>Clown</th>
                <th>Maximum</th>
                <th>Wunsch</th>
                <th>Max pro Woche</th>
                <th>Verfügbarkeit</th>
                <th>zustehend</th>
                <th>Ziel</th>
                <th>Spiele</th>
                <th>Springer</th>
                <th>Spiele</th>
                <th>Springer</th>
                <th>Spiele</th>
                <th>Springer</th>
            </tr>
        </thead>
        <tbody>
            {% for availability in clownAvailabilities %}
            <tr>
                <td>{{ availability.clown.name }}</td>
                <td>
                    {{ availability.maxPlaysMonth }}
                </td>
                <td>
                    {{ availability.wishedPlaysMonth }}
                </td>
                <td>
                    {{ availability.softMaxPlaysWeek }}
                </td>
                <td>
                    {{ (availability.availabilityRatio * 100)|round(2) }} %
                </td>
                <td>
                    {{ availability.entitledPlaysMonth|round(2) }}
                </td>
                <td>
                    {{ availability.targetPlays }}
                </td>
                <td>
                    {{ availability.calculatedPlaysMonth }}
                </td>
                <td>
                    {{ availability.calculatedSubstitutions }}
                </td>
                <td>
                    {{ availability.scheduledPlaysMonth }}
                </td>
                <td>
                    {{ availability.scheduledSubstitutions }}
                </td>
                <td>
                    {{ currentPlays[availability.clown.id] }}
                </td>
                <td>
                    {{ currentSubstitutions[availability.clown.id] }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th>Summe</th>
                <th>
                    {{ clownAvailabilities|reduce((carry, v) => carry+v.maxPlaysMonth) }}
                </th>
                <th>
                    {{ clownAvailabilities|reduce((carry, v) => carry+v.wishedPlaysMonth) }}
                </th>
                <th>
                    -
                </th>
                <th>
                    -
                </th>
                <th>
                    {% set entitledPlaysSum = clownAvailabilities|reduce((carry, v) => carry+v.entitledPlaysMonth) %}
                    {{ entitledPlaysSum }}
                </th>
                <th>
                    {{ clownAvailabilities|reduce((carry, v) => carry+v.targetPlays) }}
                </th>
                <th>
                    {{ clownAvailabilities|reduce((carry, v) => carry+v.calculatedPlaysMonth) }}
                </th>
                <th>
                    {{ clownAvailabilities|reduce((carry, v) => carry+v.calculatedSubstitutions) }}
                </th>
                <th>
                    {{ clownAvailabilities|reduce((carry, v) => carry+v.scheduledPlaysMonth) }}
                </th>
                <th>
                    {{ clownAvailabilities|reduce((carry, v) => carry+v.scheduledSubstitutions) }}
                </th>
                {% set currentPlaysSum = currentPlays|reduce((carry, v) => carry+v) %}
                <th class="text-{{ currentPlayDatesCount * 2 == currentPlaysSum ? 'success' : 'danger' }}">
                    {{ currentPlaysSum }}
                </th>
                {% set currentSubstitutionsSum = currentSubstitutions|reduce((carry, v) => carry+v) %}
                <th>
                    {{ currentSubstitutionsSum }}
                </th>
            </tr>
        </tbody>
    </table>
{% endblock %}
