{% extends "base.html.twig" %}

{% block content %}
    <h4 class="pt-3">Clown bearbeiten</h4>

    {{ form(form) }}
    <p>{{ clown.name }} hat die Datenschutzerklärung {{ clown.privacyPolicyAccepted ? "am #{clown.privacyPolicyDateTime|date('d.m.Y')} akzeptiert." : 'noch nicht akzeptiert.' }}</p>
    {{ send_invitation_form ? form(send_invitation_form) }}
    {{ form(delete_form) }}
{% endblock %}
