{% extends "base.html.twig" %}

{% block title %}Clowns{% endblock %}

{% block content %}
    <h4 class="pt-3">Clowns</h4>

    <table class="table">
        <thead>
            <tr><th>Clown</th><th>Email</th><th>aktiv</th><th>Büro?</th></tr>
        </thead>
        <tbody>

            {% for clown in clowns %}
                <tr>
                    <td>
                        {% if currentClown.isAdmin %}
                            <a href="{{ path('clown_edit', {id: clown.id}) }}">{{ clown.name }}</a>
                        {% else %}
                            {{ clown.name}}
                        {% endif %}
                    </td>
                    <td><a href="mailto:{{ clown.email }}">{{ clown.email }}</a></td>
                    <td>{{ clown.active ? 'Ja' : 'Nein' }}</td>
                    <td>{{ clown.admin ? 'Ja' : 'Nein' }}</td>
                </tr>    
            {% endfor %}    
        </tbody>
    </table>
    
    {% if currentClown.isAdmin %}
        {{ include('_shared/_create_link.html.twig', {
            url: path('clown_new'), 
            label: "Clown anlegen"
        }) }}
    {% endif %}    
{% endblock %}
