{% extends "venue/base.html.twig" %}

{% block innercontent %}
    {{ include('venue/_details_navigation.html.twig', {venue: venue, show: 'play_dates'}) }}
    {{ include('venue/_year_navigation.html.twig', {venue: venue, years: years, activeYear: activeYear}) }}
    
    {{ component('venue/recurring_date_index', {venue: venue, year: activeYear}) }}

    <h5 class="pt-3">Spieltermine</h5>
    <div class="container">
        <div class="row">
    {% for playDate in playDates %}
            <div class="col-6 col-md-4 col-lg-2">
            <a class="text-dark" href="{{ path('play_date_show', {id: playDate.id}) }}">{{ playDate.date|date("d.m.Y") }}</a>
            {% if currentClown.isAdmin %}
                {{ include('_shared/_edit_link.html.twig', {url: path('play_date_edit', {id: playDate.id, venue_id: venue.id}), title: "Termin bearbeiten"}) }}
            {% endif %}
            </div>
    {% endfor %}
        </div>
    </div>
    {% if currentClown.isAdmin %}
        <div class="container pt-3">
            {{ include('_shared/_create_link.html.twig', {url: path('play_date_new', {venue_id: venue.id}), label: "Spieltermin anlegen"}) }}<br />
            {{ include('_shared/_create_link.html.twig', {url: path('recurring_date_new', {venue_id: venue.id}), label: "Wiederkehrenden Termin anlegen"}) }}
        </div>
    {% endif %}    
{% endblock %}
