{% extends "base.html.twig" %}

{% block content %}
    {{ component('month_navigation', { active: playDate.month.key , urlKey: 'schedule'}) }}
    <h4 class="pt-3">Clowns zu Spieltermin einteilen</h4>
    <h5>
        Am {{ playDate.date|date('d.m.Y') }} {{ playDate.daytime|trans }}
        - {{ playDate.name }} {{ include('_shared/_edit_link.html.twig', {url: path('play_date_edit', {id: playDate.id}), title: "Termin bearbeiten"}) }}
    </h5>

    {{ component('show_available_clowns', { date: playDate.date, daytime: playDate.daytime, playDate: playDate }) }}
    {{ form(form) }}
{% endblock %}
