{% extends "base.html.twig" %}

{% block title %}Spieltermine{% endblock %}

{% block content %}
    <h4 class="pt-3">Spieltermine {{ activeYear }}</h4>

    {{ component('schedule_navigation', { active: 'play_dates_by_year' }) }}
    {{ include('play_date/_year_navigation.html.twig', {activeYear: activeYear, years: years}) }}
    
    <table class="table">
        <thead>
            <tr><th>Wann</th><th>Wo</th><th>Kommentar</th><th>Clowns</th><th>bearbeiten</th></tr>
        </thead>
        <tbody>

    {% for play_date in play_dates %}
        <tr>
            <td>
                <a href="{{ path('play_date_show', {id: play_date.id}) }}" class="text-dark">{{ play_date.date|date("d.m.Y") }}&nbsp;{{ play_date.daytime }}</a>
            </td>
            <td>{{ play_date.name }}</td>
            <td>
               {% if play_date.super %}
                    <i class="bi bi-hand-thumbs-up" title="Dies ist ein Super-Spieltermin"></i> Super-Spieltermin<br />
                {% endif %}
                {{ play_date.comment }}
            </td>
            <td>
                {% for clown in play_date.playingClowns %}{{ clown.name }} {% endfor %}
                {% if currentClown.isAdmin %}
                    {{ include('_shared/_edit_link.html.twig', {url: path('play_date_assign_clowns', {id: play_date.id}), title: "Zuordnung bearbeiten"}) }}
                {% endif %}
            </td>
            <td>{% if currentClown.isAdmin %}<a href="{{ path('play_date_edit', {id: play_date.id}) }}">Spieltermin bearbeiten</a>{% endif %}</td>
        </tr>
    {% endfor %}
    </table>
    {% if currentClown.isAdmin %}
        <a href="{{ path('play_date_new') }}">Spieltermin anlegen</a>
    {% endif %}
{% endblock %}
