{% extends "base.html.twig" %}

{% block title %}Spieltermine{% endblock %}

{% block content %}
    <h4 class="pt-3">Spieltermine</h4>

    <ul>
    {% for play_date in play_dates %}
        <li>
            {{ play_date.date|date("d.m.Y") }}&nbsp;{{ play_date.daytime }}&nbsp;{{ play_date.venue.name }}
            &nbsp;{% if currentClown.isAdmin %}<a href="{{ path('play_date_edit', {id: play_date.id}) }}">Spieltermin bearbeiten</a>{% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if currentClown.isAdmin %}
        <a href="{{ path('play_date_new') }}">Spieltermin anlegen</a>
    {% endif %}
{% endblock %}
