{% extends "base.html.twig" %}

{% block title %}Spieltermin{% endblock %}

{% block content %}
    <h4 class="pt-3">
        {{ playDate.type.value|trans }}
    </h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Wo</th>
                <td>
                    {% if playDate.venue %}
                        <a class="text-dark" href="{{ path('venue_show', {id: playDate.venue.id}) }}">{{ playDate.name }}</a>
                    {% else %}
                        {{ playDate.name }}
                    {% endif %}
                    {% if currentClown.isAdmin %}
                        {{ include('_shared/_edit_link.html.twig', {url: path('play_date_edit', {id: playDate.id}), title: "Termin bearbeiten"}) }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Wann</th>
                <td>
                    {{ playDate.date|date('d.m.Y') }} {{ playDate.daytime|trans }}
                    {% if playDate.comment != '' %}
                        <br /><span class="fst-itlic fw-light">{{ playDate.comment|nl2br }}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Treffen</th>
                <td>
                    {{ playDate.meetingTime is not empty ? playDate.meetingTime|date('H:i') }}
                </td>
            </tr>
            <tr>
                <th>Spielzeit</th>
                <td>
                    {{ playDate.playTimeFrom is not empty ? playDate.playTimeFrom|date('H:i') }} - {{ playDate.playTimeTo is not empty ? playDate.playTimeTo|date('H:i') }}
                </td>
            </tr>
            <tr>
                <th>Spielende Clowns</th>
                <td>
                    {{ playDate.playingClowns|map(clown => clown.name)|join(' | ') }}
                    {% if currentClown.isAdmin %}
                        {{ include('_shared/_edit_link.html.twig', {url: path('play_date_assign_clowns', {id: playDate.id}), title: "Zuordnung bearbeiten"}) }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Springer:in</th>
                <td>
                    {{ playDate.substitutionClowns|map(clown => clown ? clown.name : '---')|join(' | ') }}
                </td>
            </tr>
            {% if playDate.isPaid %}
                <tr>
                    <th>Honorar</th>
                    <td>
                        {% if playDate.fee %}
                            {{ playDate.fee.feeStandard|format_currency('EUR') }} {{ config.featureAlternativeFeeActive ? "/ #{playDate.fee.feeAlternative|format_currency('EUR')}" }}
                            {% if currentClown.isAdmin and playDate.playDateFee %}
                                {{ include('_shared/_edit_link.html.twig', {url: path('play_date_fee_edit', {id: playDate.id}), title: "Honorar bearbeiten"}) }}
                            {% else %}
                                {{ include('_shared/_create_link.html.twig', {url: path('play_date_fee_edit', {id: playDate.id}), title: "individuelles Honorar anlegen", if: currentClown.isAdmin}) }}
                            {% endif %}
                        {% else %}    
                            ?
                            {{ include('_shared/_create_link.html.twig', {url: path('play_date_fee_edit', {id: playDate.id}), label: "Honorar anlegen", if: currentClown.isAdmin}) }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Kilometergeld</th>
                    <td>
                    {% if playDate.fee %}
                            {{ include('_shared/_kilometer_fee.html.twig', {fee: playDate.fee}) }}
                        {% else %}    
                            ?
                        {% endif %}
                        
                    </td>
                </tr>
                <tr>
                    <th>wiederkehrend</th>
                    <td>
                    {% if playDate.recurringDate %}
                        {% if playDate.recurringDate.isWeekly %}
                            {{ playDate.recurringDate.dayOfWeek|trans }}s {{ "every.week"|trans({'%weeks%': playDate.recurringDate.every}) }} 
                        {% else %}
                            jeden {{ playDate.recurringDate.every }}. {{ playDate.recurringDate.dayOfWeek|trans }} im Monat
                        {% endif %}
                    {% else %}    
                        nein
                    {% endif %}
                        
                    </td>
                </tr>
            {% endif %}
            {% if not playDate.specialPlayDateUrl is empty %}
                <tr>
                    <th>URL</th>
                    <td>
                        <a href="{{ playDate.specialPlayDateUrl }}">Weitere Infos</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if playDate.showChangeRequestLink %}
        <a href="{{ path('play_date_new_swap_request', {id: playDate.id}) }}">Diesen Spieltermin tauschen</a>&nbsp;
        <a href="{{ path('play_date_new_give-off_request', {id: playDate.id}) }}">Diesen Spieltermin abgeben</a>
    {% endif %}

    {% if playDate.showRegisterForTrainingLink %}
        {{ form(trainingForm) }}
    {% endif %}

    {% if playDate.playDateGiveOffRequests is not empty or playDate.playDateSwapRequests is not empty%}
        <h5 class="pt-3">Tauschanfragen</h5>
        <table class="table">
            <tbody>
                {% for sentChangeRequest in playDate.playDateGiveOffRequests %}
                    <tr>
                        <td>{{ sentChangeRequest.requestedAt|date('d.m.Y') }}</td>
                        {% if sentChangeRequest.isSwap %}
                            <td>
                                {% if sentChangeRequest.requestedBy == currentClown %}
                                    Du möchtest diesen Spieltermin an {{ sentChangeRequest.requestedTo.name }} abgeben gegen:
                                {% elseif sentChangeRequest.requestedTo == currentClown and sentChangeRequest.isWaiting %}
                                    {{ sentChangeRequest.requestedBy.name }} möchte diesen Spieltermin an Dich abgeben gegen:    
                                {% else %}
                                    {{ sentChangeRequest.requestedBy.name }} möchte diesen Spieltermin an {{ sentChangeRequest.requestedTo.name }} abgeben gegen:
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('play_date_show', {id: sentChangeRequest.playDateWanted.id}) }}">
                                    {{ sentChangeRequest.playDateWanted.date|date('d.m.Y') }} {{ sentChangeRequest.playDateWanted.name }} 
                                </a>
                            </td>
                            <td>
                                {% if sentChangeRequest.requestedTo == currentClown and sentChangeRequest.isWaiting %}
                                    <a href="{{ path('play_date_swap_request_accept', {id: sentChangeRequest.id}) }}" class="link-success">annehmen</a> oder
                                    <a href="{{ path('play_date_swap_request_decline', {id: sentChangeRequest.id}) }}" class="link-danger">ablehnen</a>
                                {% elseif sentChangeRequest.requestedBy == currentClown and sentChangeRequest.isWaiting %}
                                    <a href="{{ path('play_date_swap_request_cancel', {id: sentChangeRequest.id}) }}" class="link-danger">abbrechen</a>
                                {% else %}    
                                    <i class="badge bg-secondary">{{ sentChangeRequest.status.value|trans }}</i>
                                {% endif %}
                            <td>
                        {% elseif sentChangeRequest.isGiveOff %}
                            <td>
                                {% if sentChangeRequest.requestedBy == currentClown %}
                                    Du möchtest Diesen Spieltermin abgeben.
                                {% else %}
                                    {{ sentChangeRequest.requestedBy.name }} möchte diesen Spieltermin abgeben.
                                {% endif %}
                            </td>
                            <td>---</td>
                            <td>
                                <i class="badge bg-secondary">{{ sentChangeRequest.status.value|trans }}</i>
                                {% if sentChangeRequest.isAccepted %}
                                    {{ sentChangeRequest.requestedTo.name }} hat übernommen
                                {% elseif sentChangeRequest.requestedBy != currentClown and sentChangeRequest.isWaiting %}
                                    <a href="{{ path('play_date_give-off_request_accept', {id: sentChangeRequest.id}) }}" class="link-success">übernehmen</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% for swapRequest in playDate.playDateSwapRequests %}
                    <tr>
                        <td>{{ swapRequest.requestedAt|date('d.m.Y') }}</td>
                        <td>
                            {% if swapRequest.requestedBy == currentClown %}
                                Du möchtest diesen Spieltermin von {{ swapRequest.requestedTo.name }} übernehmen gegen:
                            {% elseif swapRequest.requestedTo == currentClown  %}
                                {{ swapRequest.requestedBy.name }} möchte diesen Spieltermin von Dir übernehmen gegen:
                            {% else  %}
                                {{ swapRequest.requestedBy.name }} möchte diesen Spieltermin von {{ swapRequest.requestedTo.name }} übernehmen gegen:
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('play_date_show', {id: swapRequest.playDateToGiveOff.id}) }}">
                                {{ swapRequest.playDateToGiveOff.date|date('d.m.Y') }} {{ swapRequest.playDateToGiveOff.name }} 
                            </a>
                        </td>
                        <td>
                            {% if swapRequest.requestedTo == currentClown and swapRequest.isWaiting %}
                                <a href="{{ path('play_date_swap_request_accept', {id: swapRequest.id}) }}" class="link-success">annehmen</a> oder
                                <a href="{{ path('play_date_swap_request_decline', {id: swapRequest.id}) }}" class="link-danger">ablehnen</a>
                            {% else %}    
                                <i class="badge bg-secondary">{{ swapRequest.status.value|trans }}</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <p class="pt-3">
    <button type="button" class="btn btn-link mb-3 collapse show history" data-bs-target=".history" data-bs-toggle="collapse">Historie anzeigen</button>
    <button type="button" class="btn btn-link mb-3 collapse history" data-bs-target=".history" data-bs-toggle="collapse">Historie verstecken</button>
       </p> 
    <table class="table collapse history">
        <thead>
            <caption>Historie</caption>
            <tr>
                <th>Datum</th>
                <th>Spielende Clowns</th>
                <th>geändert durch</th>
                <th>Grund</th>
        </thead>
        <tbody>
            {% for history in playDate.playDateHistory %}
            <tr>
                <td>{{ history.changedAt|date('d.m.Y H:i') }}</td>
                <td>{{ history.playingClowns|map(clown => clown.name)|join(' | ') }}</td>
                <td>{{ history.changedBy ? history.changedBy.name : 'Spielplan App' }}</td>
                <td>{{ history.reason.value|trans }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
