{% extends "base.html.twig" %}

{% block title %}Wünsche {{ clown.name }}{% endblock %}

{% block content %}
    {{ component('clown_constraints_navigation', { active: 'wishes'}) }}
    <h4 class="pt-3">Wünsche {{ clown.name }} {{ include('schedule/_schedule_title.html.twig', {schedule: schedule}) }}</h4>
    <a href="{{ path('clown_availability_index') }}" class="btn btn-light mb-3">alle anzeigen</a>
    
    {{ component('month_navigation', { active: month.key, urlKey: 'clown_availability_show', urlParams: {clownId: clown.id} }) }}

    {{ form_start(form) }}
        {{ form_rest(form) }}
        
        <h4 class="pt-3">Verfügbarkeiten</h4>
        <div data-controller="availability">
            <button type="button" class="btn btn-link" data-action="click->availability#setAvailable">Alles auf "Ja" stellen</button>
            <button type="button" class="btn btn-link" data-action="click->availability#setUnavailable">Alles auf "Nein" stellen</button>
        </div>

        <div>
            Für die Berechnung der Verfügbarkeit sind nur die Zeitslots mit Spielterminen relevant.
            <button type="button" class="btn btn-link mb-1 collapse show play_dates" data-bs-target=".play_dates" data-bs-toggle="collapse">Spieltermine anzeigen</button>
            <button type="button" class="btn btn-link mb-1 collapse play_dates" data-bs-target=".play_dates" data-bs-toggle="collapse">Spieltermine verstecken</button>
        </div>

        <div class="container">
            {{ include('clown_availability/_edit_availabilites_in_schedue.html.twig') }}
        </div>

        <button type="submit" class="mt-3 btn btn-primary">Speichern</button>
    {{ form_end(form) }}
{% endblock %}
