{% extends "base.html.twig" %}

{% block title %}Clowns{% endblock %}

{% block content %}
    {{ component('clown_constraints_navigation', { active: 'wishes'}) }}
    <h4 class="pt-3">Wünsche {{ include('schedule/_schedule_title.html.twig', {schedule: schedule}) }}</h4>
    {{ component('month_navigation', { active: month.key, urlKey: 'clown_availability_index' }) }}

    <table class="table">
        <thead>
            <tr><th>Clown</th><th>Wünsche eingetragen?</th><th>Wünsche / Anmerkungen</tr>
        </thead>
        <tbody>

            {% for clown in clowns %}
                <tr>
                    <td class="{{ clown.active ? '' : 'text-muted' }}">{{ clown.name }}</td>
                    <td>
                        {% if clown.isActive or clown.hasAvailabilityFor(month) %}
                        <a href="{{ path('clown_availability_show', {clownId: clown.id, monthId: month.key}) }}"
                            class="{{ clown.hasAvailabilityFor(month) ? 'text-success' : 'text-danger' }}">
                            {{ clown.hasAvailabilityFor(month) ? 'Ja' : 'Nein' }}
                        </a>
                        {% else %}
                            Nein
                        {% endif %}
                    </td>
                    <td>{{ clown.hasAvailabilityFor(month) ? clown.getAvailabilityFor(month).additionalWishes|nl2br : '' }}</td>
                </tr>    
            {% endfor %}    
        </tbody>
    </table>
{% endblock %}
