{% extends "base.html.twig" %}

{% block title %}Wünsche{% endblock %}

{% block content %}
    {{ component('month_navigation', { active: month.key, urlKey: 'clown_availability_show', urlParams: {clownId: clown.id} }) }}
    <h4 class="pt-3">Wünsche {{ clown.name }} {{ include('schedule/_schedule_title.html.twig', {schedule: schedule}) }}</h4>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Gewünschte Anzahl Spiele pro Monat: <strong>{{ clownAvailability.wishedPlaysMonth }}</strong>
            </div>
            <div class="col-sm-6">
                Maximale Anzahl Spiele pro Monat: <strong>{{ clownAvailability.maxPlaysMonth }}</strong>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-6">
                Maximale Anzahl Spiele pro Tag: <strong>{{ clownAvailability.maxPlaysDay }}</strong>
            </div>
            <div class="col-sm-6">
                {% if showMaxPerWeek %}
                    Gewünschte maximale Anzahl Spiele pro Woche: <strong>{{ clownAvailability.softMaxPlaysWeek }}</strong>
                {% endif %}    
            </div>
        </div>
        {% if clownAvailability.additionalWishes is not empty %}
            <div class="row pb-3">
                <div class="col">
                    Weitere Wünsche/Anmerkungen: {{ clownAvailability.additionalWishes|nl2br }}
                </div>
            </div>
        {% endif %}

        <button type="button" class="btn btn-link mb-3 collapse show play_dates" data-bs-target=".play_dates" data-bs-toggle="collapse">Spieltermine anzeigen</button>
        <button type="button" class="btn btn-link mb-3 collapse play_dates" data-bs-target=".play_dates" data-bs-toggle="collapse">Spieltermine verstecken</button>

        {{ include('clown_availability/_show_availabilities_in_schedule.html.twig') }}
    </div>
    <div class="container pt-3">
        <a href="{{ path('clown_availability_edit', {clownId: clown.id, monthId: month.key}) }}">Wünsche bearbeiten</a>
    </div>
{% endblock %}
