{% extends "base.html.twig" %}

{% block content %}
    <h4 class="pt-3">
        {{ venue.name }}
        {% if currentClown.isAdmin %}
            {{ include('_shared/_edit_link.html.twig', {url: path('venue_edit', {id: venue.id}), title: "bearbeiten"}) }}
        {% endif %}
    </h4>

    {{ include('venue/_details_navigation.html.twig', {venue: venue, show: 'fees'}) }}

    <h5>Honorar für {{ venue.name }} bearbeiten</h5>

    {{ form(form) }}
{% endblock %}
