{% extends "base.html.twig" %}

{% block content %}
    {{ component('month_navigation', { active: month.key, urlKey: 'schedule' }) }}
    <h4 class="pt-3">Springer:in für {{ substitution.date|date('d.m.Y') }} {{ substitution.daytime == 'am' ? 'vormittags' : 'nachmittags' }}</h4>

    {{ component('show_available_clowns', { date: substitution.date, daytime: substitution.daytime }) }}
    {{ form(form) }}
{% endblock %}
