{% if showNavigation %}
<nav class="navbar">
    <ul class="nav nav-tabs pt-2">
        <li class="nav-item">
            <a class="nav-link {{ active == 'wishes' ? 'active' }}" {{ active == 'wishes' ? 'aria-current="page"' }} href="{{ path('wishes_index') }}">
                Wünsche und Verfügbarkeiten
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ active == 'venue_preferences' ? 'active' }}" {{ active == 'venue_preferences' ? 'aria-current="page"' }} href="{{ path('clown_venue_preferences_index') }}">
                Spielortpräferenzen
            </a>
        </li>
    </ul>
</nav>
{% endif %}
