{% if dates|length > 0 or message is not empty %}
    <h4 class="pt-3">
        Termine mit fehlender Besetzung 
        <span class="ms-2 text-danger">
            <i class="bi bi-exclamation-triangle"></i>
        </span>
    </h4>
    <h6>Termine bis {{ until|date('d.m.Y')}}</h6>
{% endif %}

{% if dates|length > 0 %}
    <table class="table">
        <thead>
            <tr><th>Wann</th><th>Wo</th><th>Treffen</th><th>Spielzeit</th><th>Es spielen</th></tr>
        </thead>
        <tbody>
            {% for key, date in dates %}
                <tr title="{{ date.title ?? '' }}">
                    <td class="lh-sm">
                        {{ date.date|date('d.m.Y') }} {{ date.daytime|trans }}
                        {{ include('play_date/_status_icons.html.twig', {playDate: date}) }}
                        {% if date.comment != '' %}
                            <br /><span class="fst-itlic fw-light">{{ date.comment|nl2br }}</i>
                        {% endif %}
                    </td>
                    <td>
                        <a class="text-dark" href="{{ path('play_date_show', {id: date.id}) }}">{{ date.name }}</a>
                        <span class="ms-2 text-danger" title="Es sind weniger als 2 Clowns für diesen Spieltermin eingetragen.">
                            <i class="bi bi-exclamation-triangle"></i>
                        </span>
                    </td>
                    <td>{{ date.meetingTime is not empty ? date.meetingTime|date('H:i') }}</td>
                    <td>{{ date.playTimeFrom is not empty ? date.playTimeFrom|date('H:i') ~ ' -' }} {{ date.playTimeTo is not empty ? date.playTimeTo|date('H:i') }}</td>
                    <td>
                        {{ date.playingClowns|map(clown => clown.name)|join('| ') }}
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
{% endif %}

{% if message is not empty %}
    <div class="alert alert-warning fade show d-flex pt-3" role="alert">
        <div>{{ message|nl2br }}</div>
    </div>
{% endif %}