<h4 class="pt-3">Deine nächsten Termine, {{ currentClown.name }}</h4>

<table class="table">
    <thead>
        <tr><th>Wann</th><th>Wo</th><th>Treffen</th><th>Spielzeit</th><th>mit</th></tr>
    </thead>
    <tbody>
        {% for key, date in dates %}
            {% if date.dateEntity is of_type('class', 'App\\Entity\\PlayDate') %}
                <tr title="{{ date.title ?? '' }}">
                    <td class="lh-sm {{ date.class ?? '' }}">
                        {{ date.dateEntity.date|date('d.m.Y') }} {{ date.dateEntity.daytime|trans }}
                        {{ include('play_date/_status_icons.html.twig', {playDate: date.dateEntity}) }}
                        {% if date.dateEntity.comment != '' %}
                            <br /><span class="fst-itlic fw-light">{{ date.dateEntity.comment|nl2br }}</i>
                        {% endif %}
                    </td>
                    <td class="{{ date.class ?? '' }}">
                        {% if date.dateEntity.training and date.class is defined %}
                            {{ date.dateEntity.name }}
                            <a class="text-muted" href="{{ path('play_date_show', {id: date.dateEntity.id}) }}">anmelden</a>
                        {% else %}
                            <a class="{{ date.class ?? "text-dark" }}" href="{{ path('play_date_show', {id: date.dateEntity.id}) }}">{{ date.dateEntity.name }}</a>
                        {% endif %}

                    </td>
                    <td class="{{ date.class ?? '' }}">{{ date.dateEntity.meetingTime is not empty ? date.dateEntity.meetingTime|date('H:i') }}</td>
                    <td class="{{ date.class ?? '' }}">{{ date.dateEntity.playTimeFrom is not empty ? date.dateEntity.playTimeFrom|date('H:i') ~ ' -' }} {{ date.dateEntity.playTimeTo is not empty ? date.dateEntity.playTimeTo|date('H:i') }}</td>
                    <td class="{{ date.class ?? '' }}">
                        {{ date.dateEntity.playingClowns.count > 3 ? 'vielen' : date.dateEntity.playingClowns|filter(clown => clown!=currentClown)|map(clown => clown.name)|join('| ') }}
                    </td>
                </tr>
            {% else %}
                <tr title="{{ date.title ?? '' }}">
                    <td class="{{ date.class ?? '' }}">
                        {{ date.dateEntity.date|date('d.m.Y') }} {{ date.dateEntity.daytime|trans }}
                    </td>
                    <td colspan='4'><i>Springer:in</i></td>
                </tr>
            {% endif %}
        {% else %}
            <tr><td colspan ="5">keene Termine, nüscht!</td>    
        {% endfor %}    
    </tbody>
</table>
