<div class="pt-2 lh-sm">
    <a class="text-dark" href="{{ path('play_date_show', {id: playDate.id}) }}">
        <span class="{{ colorClass }}">
            {{ playDate.name }} {{ playDate.daytime == 'all' ? '(ganztags)' }}
        </span>
    </a>

    {% if showNotEnonoughClownsWarning %}
        <span class="ms-2 text-danger" title="Es sind weniger als 2 Clowns für diesen Spieltermin eingetragen.">
            <i class="bi bi-exclamation-triangle"></i>
        </span>
    {% endif %}
    {{ include('play_date/_status_icons.html.twig', {playDate: playDate}) }}
    <br />

    <span class="text-muted">
        {{ playDate.playTimeFrom is not empty ? playDate.playTimeFrom|date('H:i') ~ '-' }}{{ playDate.playTimeTo is not empty ? playDate.playTimeTo|date('H:i') }}
    </span>
    
    {% if showClowns %}
        {{ playDate.playingClowns|map(clown => clown.name)|join(' | ')}}
        {% if currentClown.isAdmin %}
            {{ include('_shared/_edit_link.html.twig', {url: path('play_date_assign_clowns', {id: playDate.id}), title: "Zuordnung bearbeiten"}) }}
        {% endif %}
    {% endif %}
    {% if playDate.comment != '' %}
        <br /><span class="mt-0 pt-0 fst-itlic fw-light">{{ playDate.comment|nl2br }}</i>
    {% endif %}
    {% if specialPlayDateUrl %}
        <br /><a href="{{ specialPlayDateUrl }}" target="_blank" rel="noopener">Weitere Infos</a>
    {% endif %}
</div>
