 {% if receivedChangeRequests or sentChangeRequests %}
    <h4 class="pt-3">Offene Tauschanfragen</h4>
    <table class="table">
        <tbody>
            {% for changeRequest in receivedChangeRequests %}
            <tr>
                <td><strong>{{ changeRequest.requestedBy.name }}</strong> möchte</th>
                <td>
                    {{ changeRequest.playDateToGiveOff.name }} {{ changeRequest.playDateToGiveOff.date|date('d.m.Y') }} {{ changeRequest.playDateToGiveOff.daytime|trans }}
                </td>
                <td>
                    an Dich abgeben gegen
                </td>
                <td>
                    {{ changeRequest.playDateWanted.name }} {{ changeRequest.playDateWanted.date|date('d.m.Y') }} {{ changeRequest.playDateWanted.daytime|trans }}
                </td>
                <td>
                    <a href="{{ path('play_date_change_request_accept', {id: changeRequest.id}) }}" class="link-success">annehmen</a> oder
                    <a href="{{ path('play_date_change_request_decline', {id: changeRequest.id}) }}" class="link-danger">ablehnen</a>
                </td>
            </tr>
            {% endfor %}

            {% for changeRequest in sentChangeRequests %}
            <tr>
                <td>Du möchtest</td>
                <td>
                    {{ changeRequest.playDateToGiveOff.name }} {{ changeRequest.playDateToGiveOff.date|date('d.m.Y') }} {{ changeRequest.playDateToGiveOff.daytime|trans }}
                </td>
                <td>
                    an <strong>{{ changeRequest.requestedTo.name }}</strong> abgeben gegen
                </td>
                <td>
                    {{ changeRequest.playDateWanted.name }} {{ changeRequest.playDateWanted.date|date('d.m.Y') }} {{ changeRequest.playDateWanted.daytime|trans }}
                </td>
                <td>
                    <a href="{{ path('play_date_change_request_close', {id: changeRequest.id}) }}" class="link-danger">zurücknehmen</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
