 {% if receivedChangeRequests or sentChangeRequests %}
    <h4 class="pt-3">Offene Tauschanfragen</h4>
    <table class="table">
        <tbody>
            {% for changeRequest in receivedChangeRequests %}
            <tr>
                <td><strong>{{ changeRequest.requestedBy.name }}</strong> möchte</th>
                <td>
                    {{ changeRequest.playDateToGiveOff.name }} {{ changeRequest.playDateToGiveOff.date|date('d.m.Y') }} {{ changeRequest.playDateToGiveOff.daytime|trans }}
                </td>
                {% if changeRequest.isSwap %}
                    <td>
                        an Dich abgeben gegen
                    </td>
                    <td>
                        {{ changeRequest.playDateWanted.name }} {{ changeRequest.playDateWanted.date|date('d.m.Y') }} {{ changeRequest.playDateWanted.daytime|trans }}
                    </td>
                    <td>
                        <a href="{{ path('play_date_swap_request_accept', {id: changeRequest.id}) }}" class="link-success">annehmen</a> oder
                        <a href="{{ path('play_date_swap_request_decline', {id: changeRequest.id}) }}" class="link-danger">ablehnen</a>
                    </td>
                {% elseif changeRequest.isGiveOff %}
                    <td>
                        abgeben
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <a href="{{ path('play_date_give-off_request_accept', {id: changeRequest.id}) }}" class="link-success">übernehmen</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}

            {% for changeRequest in sentChangeRequests %}
            <tr>
                <td>Du möchtest</td>
                <td>
                    {{ changeRequest.playDateToGiveOff.name }} {{ changeRequest.playDateToGiveOff.date|date('d.m.Y') }} {{ changeRequest.playDateToGiveOff.daytime|trans }}
                </td>
                {% if changeRequest.isSwap %}
                    <td>
                        an <strong>{{ changeRequest.requestedTo.name }}</strong> abgeben gegen
                    </td>
                    <td>
                        {{ changeRequest.playDateWanted.name }} {{ changeRequest.playDateWanted.date|date('d.m.Y') }} {{ changeRequest.playDateWanted.daytime|trans }}
                    </td>
                    <td>
                        <a href="{{ path('play_date_swap_request_cancel', {id: changeRequest.id}) }}" class="link-danger">abbrechen</a>
                    </td>
                {% elseif changeRequest.isGiveOff %}
                    <td>
                        abgeben
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <a href="{{ path('play_date_give-off_request_accept', {id: changeRequest.id}) }}" class="link-danger">abbrechen</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
