{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {{ include('dashboard/_waiting_change_requests.html.twig', {sentChangeRequests: sentChangeRequests, receivedChangeRequests: receivedChangeRequests}) }}
    
    {{ component('next_dates_per_clown', {currentClown: currentClown}) }}

    <h4 class="pt-3">Wünsche verwalten</h4>
    <ul>
        <li>
            <a href="{{ path('clown_availability_show', {clownId: currentClown.id, monthId: nextMonth.key}) }}">Wünsche {{ nextMonth.label }}</a>
            {% if nextMonthSchedule %}
                {% if nextMonthSchedule.completed %}
                    Spielplan fertiggestellt ✅
                {% else %}
                    Spielplan wird gerade erstellt ⚒️
                {% endif %} 
            {% else %}
                {% if nextMonthFilled %}
                    <span class="text-success">(schon eingetragen)</span>
                {% else %}
                    <span class="text-warning">(noch nix eingetragen)</span>
                {% endif %}
            {% endif %}
        </li>
        <li>
            <a href="{{ path('clown_availability_show', {clownId: currentClown.id, monthId: afterNextMonth.key}) }}">Wünsche {{ afterNextMonth.label }}</a>
            {% if afterNextMonthSchedule %}
                {% if afterNextMonthSchedule.completed %}
                    Spielplan fertiggestellt ✅
                {% else %}
                    Spielplan wird gerade erstellt ⚒️
                {% endif %} 
            {% else %}
                {% if afterNextMonthFilled %}
                    <span class="text-success">(schon eingetragen)</span>
                {% else %}
                    <span class="text-warning">(noch nix eingetragen)</span>
                {% endif %}
            {% endif %}
        </li>
    </ul>

    {% if not feedbackUrl is empty %}
        <h4 class="pt-3">Feedback zu dieser App</h4>
        <a href="{{ feedbackUrl }}" target="_blank">Hier Wünsche und Anregungen eintragen</a>
    {% endif %}
{% endblock %}
